<mat-card>
  <mat-card-header>{{ ser.nombre }}</mat-card-header>

  <div *ngFor="let configuracion of serie.configuraciones">
    <div *ngFor="let opcion of configuracion.opciones">
      <canvas baseChart width="400" height="400"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        *ngIf="opcion.nombre == 'Grafico de lineas' && opcion.valor_por_defecto == 'true'"
        >
      </canvas>

      <div style="width:400px;max-height:100%;height: 400px;overflow: auto;"
        *ngIf="opcion.nombre == 'Tabla' && opcion.valor_por_defecto == 'true'">
        <table mat-table [dataSource]="dataSource" style="width:375px;">
          <ng-container matColumnDef="clave">
            <th mat-header-cell *matHeaderCellDef>clave</th>
            <td mat-cell *matCellDef="let element"> {{element.clave}} </td>
          </ng-container>

          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef>valor</th>
            <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['clave', 'valor']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['clave', 'valor'];"></tr>
        </table>
      </div>
    </div>
  </div>

  <div style="width:400px">
    <p>{{ ser.descripcion }}</p>
    <span>Fuentes:</span>
    <ul>
      <li>{{ ser.fuente }}</li>
    </ul>
  </div>
  <mat-card-actions align="end">
      <button (click)="removeChart(serie)">
        <mat-icon mat-list-icon>delete</mat-icon>
      </button>
  </mat-card-actions>
</mat-card>
