<div class="login-container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
    <div class="login-components">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" ngModel />
    </div>
    <div class="login-components">
      <label for="password">Contraseña</label>
      <input type="password" name="password" id="password" ngModel />
    </div>
    <div class="login-components">
      <button type="submit">Entrar</button>
    </div>
  </form>
</div>
