<mat-card>
  <mat-card-header>{{ resultadoAnual.nombre }}</mat-card-header>

  <canvas baseChart width="400" height="432"
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    >
  </canvas>

  <div style="width:400px">
    <p>{{ resultadoAnual.descripcion }}</p>
    <span>Fuentes:</span>
    <ul>
      <li>{{ fuente }}</li>
    </ul>
  </div>
  <mat-card-actions align="end">
      <button (click)="removeResultadoAnual(resultadoAnual)">
        <mat-icon mat-list-icon>delete</mat-icon>
      </button>
  </mat-card-actions>
</mat-card>
