<mat-card>
  <mat-card-header>{{ subpanel.nombre }}</mat-card-header>

  <div style="width:400px;">
    <div style="height:432px; padding:0" leaflet [leafletOptions]="this.options" *ngIf="this.options"></div>
    <p>{{ subpanel.descripcion }}</p>
    <span *ngIf="fuente">Fuentes:</span>
    <ul *ngIf="fuente">
      <li>{{ fuente }}</li>
    </ul>
  </div>
  <mat-card-actions align="end">
      <button (click)="removeSubpanel(subpanel)">
        <mat-icon mat-list-icon>delete</mat-icon>
      </button>
  </mat-card-actions>
</mat-card>
