/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.charts-selector-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.charts-selector-component {
  display: flex;
  padding: 1%;
}

.charts-container {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  justify-content: space-around;
  flex-wrap: wrap;
}

.charts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.login-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}

.login-components {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.paneles-container {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  flex-wrap: wrap;
  justify-content: space-around
}

.paneles {

}

.add-panel-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}

.add-panel-component {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.example-spacer {
  flex: 1 1 auto;
}
