<div class="charts-selector-container">
  <div class="charts-selector-component">
    Subpanel:
    <select (change)="changeSelectedSubpanel($event)">
      <option>Seleccionar</option>
      <option *ngFor="let subpanel of subpaneles" [value]="subpanel.id">{{ subpanel.nombre }}</option>
    </select>
  </div>
  <div class="charts-selector-component|">
    <button (click)="addSubpanel()">Agregar</button>
  </div>
</div>

<div class="charts-container" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="charts" *ngFor="let subpanel of panel?.subpaneles;" cdkDrag>
    <app-chart *ngIf="subpanel.type === 'serieEstadistica'" [serie]="subpanel" (removeSubpanelEvent)="removeSubpanel($event)"></app-chart>
    <app-subpanel-insiders *ngIf="subpanel.type === 'insider'" [insider]="subpanel" (removeSubpanelEvent)="removeSubpanel($event)"></app-subpanel-insiders>
    <app-subpanel-resultados-anuales *ngIf="subpanel.type === 'resultadoAnual'" [resultadoAnual]="subpanel" (removeSubpanelEvent)="removeSubpanel($event)"></app-subpanel-resultados-anuales>
    <app-subpanel-cantidad-puntos-agrupados *ngIf="subpanel.type === 'cantidadPuntosAgrupados'" [subpanel]="subpanel" (removeSubpanelEvent)="removeSubpanel($event)" [agrupar]="'titular'"></app-subpanel-cantidad-puntos-agrupados>
  </div>
</div>
