<div style="padding:1%">
  <a routerLink="/paneles/add"><button>Agregar panel</button></a>
</div>
<div class="paneles-container">
  <div class="paneles" *ngFor="let panel of paneles;" style="width:400px; margin-top:1%">
    <mat-card>
      <mat-card-header>
        <a routerLink="{{ panel.id }}">{{ panel.nombre }}</a>
      </mat-card-header>
      {{ panel.descripcion }}
      <mat-card-actions align="end">
        <button mat-button>
          <mat-icon mat-list-icon>border_color</mat-icon>
        </button>
        <button mat-button (click)="onDelete(panel.id)">
          <mat-icon mat-list-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
